*{
  margin:0;
  background-color: rgb(26, 23, 23);
  /* z-index: -1; */
}
/*Site Name*/
.title h1{
  color: rgb(146, 94, 53);
  background: -webkit-linear-gradient(#e5def6, #641606);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 20px;
  font-size: 15vw;
  width:auto;
}

/*Search bar*/
.searchArea{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* height: 20rem; */
}
.searchArea input{
  
  padding: 15px;
  background-color: rgb(21, 20, 20);
  
  color: rgb(211, 146, 123);
  font-size: large;
  border: 0;
  border-radius: 30px;
  width: 100%;

}

.searchArea a:hover{
  color: rgb(211, 146, 123);
  cursor: pointer;
}
.searchIcon:hover{

  background-color: #e5def6;
  cursor: pointer;

}
.home{
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* width: 800px; */
  margin-top: 100px;
}

.movies-list{
display: flex;
flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin:5px; */
  /* margin: auto; */
}
.movie-box {
  margin: 10px;
  width: 200px;
  height: 450px;
  border: 2px solid #2e2a2a;
  border-radius: 10px;
  /* background-color: black; */
}


.pending{
  display: flex;

  justify-content: center;
  align-items: center;
  margin: auto;
  color: rgb(211, 146, 123);

  font-size: 30px;
}
.shadow{
  /* position: relative;
  top:0px; */
  /* margin: 10px; */
  width: 200px;
  height: 376px;
  background-color: black;
  /* border: 2px solid #2e2a2a; */
  border-radius: 10px;
  opacity: 0.5;
  visibility: hidden;
  z-index: -1;
}
.movie-box:hover .shadow{
  visibility: visible;
  
}

.info{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-self: center; */
  /* align-content: center; */
  padding: 5px;
  color: rgb(211, 146, 123);
  text-align: left;
}


/* footer */
.footer{
  display: "flex";
  flex-direction: column;
  align-items: center;
}

/* background */

